.navbar-1{
    height: 65px;
    width: 100%;
    background-color: black;
}

.navbar-1 a{
    text-decoration: none;
}

.navbar-1 .brand{
    color: white;
    letter-spacing: 40px;
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
}


.content{
    margin-top: 170px;
    margin-bottom:0px;
    color: black;

}

.content .title{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom:30px;
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    letter-spacing: 40px;
    text-transform: uppercase;

}
.content .title span{
    color: red;
    margin: 0;
    padding: 0;
}
.content .text{
    font-size: 14px ;
    font-family: "Inter", sans-serif;

}

@media screen and (max-width: 992px) {
    .navbar-1 .brand{
        font-family: 'Space Mono', monospace;
        font-size: 18px;
        letter-spacing: 30px;

        text-transform: uppercase;
    }
    .content{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .content .title{
        font-family: 'Space Mono', monospace;
        letter-spacing: 30px;
        font-size: 18px;
        text-transform: uppercase;
    
    }
    .content .text{
        font-size: 14px ;    
    }
    

}
@media screen and (max-width: 768px) {
    .navbar-1 .brand{
        letter-spacing: 15px;
        font-size: 16px;
        font-family: 'Space Mono', monospace;
        text-transform: uppercase;
    }

    .content{
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .content .title{
        margin-bottom: 50px;
        font-size: 16px;
        font-family: 'Space Mono', monospace;
        letter-spacing: 15px;
        text-transform: uppercase;
    
    }
    .content .text{
        font-size: 13px ;
    
    }
}

 
